<style>
    .background {
        background: url(background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
           }
</style>
<section>
	<div class="page-header">
		<h2>CountryService - <small data-bind="visible: (countriesCount() > 0)"><i class="fa fa-film"></i> Countries List [<span data-bind="text: countriesCount"></span> ]</small></h2>
	</div>
	<div class="container">
		<!--este div desaparece quando clicas num ator-->
		<div id="searchPlace">
			<div class="row">
                <div class="col-lg-6 col-md-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-8 col-xs-offset-1">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Country:</span>
                        <input type="text" id="countryTitle" class="form-control" data-bind="value : searchText, valueUpdate: 'afterkeydown', event: {keyup: autocomplete}" aria-describedby="basic-addon1" placeholder="Country" />
                    </div>
                </div>
				<div class="col-md-2">
					<button class="btn btn-default" id="searchBtn" data-bind="click: searchCountries, disable : searchTextGood"><i class="fa fa-search"></i></button>
					<button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearCountries"><i class="fa fa-trash-o"></i></button>
				</div>
			</div>
			<hr />
			<div class="row" data-bind="foreach: countries">
                <div class="col-lg-4 col-md-6  col-sm-6 col-xs-12">
                    <div><i class="fa fa-film"></i> <a data-bind="attr: {href: '#countriesDetails/' + countryID}, text: countryName"></a></div>
                </div>
			</div>
		</div>
	</div>
</section>
