<style>
    .background {
        background: url(background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<section>
	<div class="page-header">
		<h2>DirectorService - <small data-bind="visible: (directorsCount() > 0)"><i class="fa fa-film"></i> Directors List [<span data-bind="text: directorsCount"></span> ]</small></h2>
	</div>
	<div class="container">
		<div>
			<div class="row">
				<div class="col-lg-6 col-md-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-8 col-xs-offset-1">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Director Name:</span>
						<input type="text" id="directorTitle" class="form-control" data-bind="value : searchText, valueUpdate: 'afterkeydown', event: {keyup: autocomplete}" aria-describedby="basic-addon1" placeholder="Director name" />
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<button class="btn btn-default" id="searchBtn" data-bind="click: searchDirectors, disable : searchTextGood"><i class="fa fa-search"></i></button>
					<button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearDirectors"><i class="fa fa-trash-o"></i></button>
				</div>
			</div>
			<hr />
			<div class="row" data-bind="foreach: directors">
				<div class="col-lg-4 col-md-6  col-sm-6 col-xs-12">
					<div><i class="fa fa-film"></i> <a data-bind="attr: {href: '#diretoresDetails/' + directorID}, text: directorName"></a></div>
				</div>
			</div>
		</div>
</section>
