<style>
	.background {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}
	
	.btnContainer {
		padding: 10px 0px 0px 10px;
	}
	
	img {position: absolute;
		 top: 50px;
		 margin: 0px 0px 0px 0px;
		 padding: 0px 0px 0px 0px;}
</style>
<section>
	<div class="container-fluid background" data-bind="style: {height: heightFile, backgroundImage: 'url(' + currentBack() + ')'}" id="welcome">
		<div class="row btnContainer">
			<button class="btn btn-default" data-toggle="modal" data-target="#changeBack">Choose Background</button>
		</div>
		<div class="row col-lg-8 col-lg-offset-2" data-bind="style: {top: barLocation}">
			<div>
				<div class="input-group col-lg-10 col-lg-offset-1" id="bar">
					<span class="input-group-addon" id="basic-addon1" data-bind="click: getAll, disable: searchTextGood"><i class="fa fa-search" aria-hidden="true"></i></span>
					<input type="text" id="search" class="form-control input-sm" data-bind="value : searchText" aria-describedby="basic-addon1" placeholder="Search..." />
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid background" data-bind="style: {backgroundImage: 'url(' + currentBack() + ')'}" id="all">
		<div class="container" style="background-color: white;" id="all-container">
			<div class="row">
				<div class="col-lg-10"><h1 style="margin-left:50px; margin-top: 30px"><b>Results</b></h1></div>
				<div class="col-lg-2" style="margin-top: 30px;"><button class="btn btn-default" data-bind="click: returnMain"><i class="fa fa-reply"></i> Voltar</button></div>
			</div>
			<hr />
			<div class="row">
			<div class="col-lg-4">
				<div><h3 style="margin-left: 30px">Directors</h3></div>
				<div class="col-lg-12" data-bind="foreach: directors">
					<div><i class="fa fa-user"></i> <a data-bind="attr: {href: '#diretoresDetails/' + directorID}, text: directorName"></a></div>
				</div>
			</div>
			<div class="col-lg-4">
				<div><h3 style="margin-left: 30px">Movies</h3></div>
				<div class="col-lg-12" data-bind="foreach: movies">
					<div><i class="fa fa-film"></i> <a data-bind="attr: {href: '#moviesDetails/' + movieID}, text: movie_title"></a></div>
				</div>
			</div>
			<div class="col-lg-4">
				<div><h3 style="margin-left: 30px">Actors</h3></div>
				<div class="col-lg-12"data-bind="foreach: actors">
					<div><i class="fa fa-users"></i> <a data-bind="attr: {href: '#atoresDetails/' + actorID}, text: actorName"></a></div>
				</div>
			</div>
			</div>
			<hr />
		</div>
	</div>
	<div class="modal fade" id="changeBack" tabindex="-1" role="dialog" aria-labelledby="title" onfocus="adjustSizes()">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-label="close" data-bind="click: exitModal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="title">Choose Background</h4>
				</div>
				<div class="modal-body col-lg-12">
					<div class="col-lg-1 arrows" data-bind="click: moveBack, event: {mouseover: setPointer, mouseout: setDefault}"><h3><i class="fa fa-reply"></i></h3></div>
					<img id="cImg" class="col-lg-10" data-bind="attr: {src: url}, style: {height: imgHeight}" style="top: 5px; position: relative; margin-bottom:5px;"/>
					<div class="col-lg-1 arrows" data-bind="click: moveForward, event: {mouseover: setPointer, mouseout: setDefault}"><h3><i class="fa fa-share"></i></h3></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" data-dismiss="modal" data-bind="click: selectAsBack">Apply</button>
					<button class="btn btn-default" data-dismiss="modal" data-bind="click: exitModal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</section>    
